<h1><%= @place.name %></h1>

<h2>Posts</h2>
<ul>
    <% for post in @place.post %>
      <li>
        <%= post.title %>,<%= post.description %>, <%= post.posted_on >
    <% end %>
  </ul>

<a href="/post/new?placeid=<%= @place.id %>"> Add Post</a>

<a href="/companies">Back to all places</a>
